# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# BUILD_ENV='development'

# When deploying to production, set the NEXTAUTH_URL environment variable to the canonical URL of your site.
# NEXTAUTH_URL=http://localhost:3000

# https://docs-git-misc-docs-nextauthjs.vercel.app/configuration/options#secret
# You can quickly create a good value on the command line via this openssl command.
# $ openssl rand -base64 32
# JWT Token secret
# NEXTAUTH_SECRET=""

# Prisma Config for: schema.prisma
# DATABASE_URL=""

# https://docs-git-misc-docs-nextauthjs.vercel.app/configuration/providers/email
# https://simplernerd.com/next-auth-passwordless-magic-link/
# I think this won't work with a free gmail account, you have to send from a paid one.
# https://app.sendgrid.com/
# SMTP_HOST=smtp.sendgrid.net
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASSWORD=""
# SMTP_FROM=

# https://docs-git-misc-docs-nextauthjs.vercel.app/configuration/providers/oauth#oauth-providers
# Auth Provider Secrets
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""

# Database Security
# max ammount of times a user can submit an incorrect password before account locks
# MAX_ATTEMPTS=
